
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home | Security Awareness Game</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'game/css/style.css' %}">
</head>
<h1>Cybersecurity Game</h1>
<form method="post">
  {% csrf_token %}
  <p>{{ question.question_text }}</p>
  <input type="hidden" name="question_id" value="{{ question.id }}">
  <button type="submit" name="answer" value="True">True</button>
  <button type="submit" name="answer" value="False">False</button>
</form>
