{% extends 'global.html' %}
{% load static %}

{% block content %}
<head>
  <meta charset="UTF-8">
  <title>Login | Security Awareness Game</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
</head>
<body>
<nav>🔐 Login</nav>
<div class='card login-card'>
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Sign In</button>
  </form>
  <form method="get" action="{% url 'accounts:guest-login' %}">
    <button type="submit">Continue as Guest</button>
  </form>
  <div class="extra-links">
    <a href="#">Forgot Password?</a>
  </div>
  <div class="new-user">
    <a href="{% url 'accounts:register-page' %}"><button type="button">➕ New User</button></a>
  </div>
</div>
<div class="back-button">
  <a href="{% url 'core:home-page' %}"><button>⬅ Back</button></a>
</div>
</body>
{% endblock %}
</html>
