<!--Template or layout for every page of our game-->
{% csrf_token %}
{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Mobile Security Awareness Game</title>
        <link href="{% static 'css/global.css' %}" rel="stylesheet">
        {% block extra_css %}{% endblock %}
    </head>
    <body>
        <header class="title-bar">
            <div class="logo">Mobile Security</div>
            <nav class="nav-links">
                <a href="{% url 'core:home-page' %}">Home</a>
                <a href="{% url 'core:home-page' %}">Play</a>
                <a href="{% url 'core:leaderboard-page' %}">Leaderboard</a>
                <a href="{% url 'accounts:login-page' %}">Login</a>
            </nav>
            
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>